<head>
  <!-- Required meta tags-->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
  <link rel="stylesheet" href="../static/check_result/style/style.css" />
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">google.charts.load('current', { packages: ['corechart'] });</script>
  <title>Esport BGMI</title>
</head>
<header>
  <div class="container">
    <h2>Overall Standing</h2>
    <h4>
      <%= type %> #Match<%= total_player %>
    </h4>
  </div>
</header>
<div class="container">
  <%- include('plugin/check_result/top_player_card.ejs'); %>
</div>
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Rank</th>
        <th scope="col">Name</th>
        <th scope="col">Kill</th>
      </tr>
    </thead>
    <tbody>
      <%- include('plugin/check_result/player_data.ejs'); %>
    </tbody>
  </table>
</div>
<div class="container charts">
  <div id="chart1"></div>
  <div id="chart2"></div>
</div>
<!-- Optional JavaScript-->
<!-- jQuery first, then Popper.js, then Bootstrap JS-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script language="JavaScript">
  function drawChart() {
    // Define the chart to be drawn.
    var data = google.visualization.arrayToDataTable([
      ['players', 'kill']
  <% for (var i = 0; i < data.length; i++) { %>
      ,['<%=data[i].name%>', <%=data[i].kills %>]
  <% } %>
  
  ]);

    var options = {
      title: 'Kill Leaders',
      width: 350,
      height: 300,
      legend: { position: 'none' },
      chart: {
        title: 'Kill Leaders',
        subtitle: 'popularity by percentage'
      },
      bars: 'horizontal', // Required for Material Bar Charts.
      bar: { groupWidth: "95%" }
    };
    // Instantiate and draw the chart.
    var chart = new google.visualization.BarChart(document.getElementById('chart1'));
    chart.draw(data, options);
  }
  google.charts.setOnLoadCallback(drawChart);
</script>